KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/memInt.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/mem_init.o \
$(ARCHDIR)/cpuInt.o \
$(ARCHDIR)/cpu.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/io_port.o \
$(ARCHDIR)/keyboard.o